<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@post) do |f| %>
        <div class="form-group">
          <%= f.label :lesson_id, '授業名' %>
          <%= f.collection_select :lesson_id, Lesson.all, :id, :name, :prompt => "選択してください", class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :teacher_id, '先生の名前' %>
          <%= f.collection_select :teacher_id, Teacher.all, :id, :name, :prompt => "選択してください", class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :lesson_evaluation, '授業評価' %>
          <%= f.radio_button :lesson_evaluation, '良い' %>
          <%= f.label :lesson_evaluation, '良い' %>
          <%= f.radio_button :lesson_evaluation, '普通' %>
          <%= f.label :lesson_evaluation, '普通' %>
          <%= f.radio_button :lesson_evaluation, '悪い' %>
          <%= f.label :lesson_evaluation, '悪い' %>
        </div>
        
        <div class="form-group">
          <%= f.label :lesson_level, '授業難易度' %>
          <%= f.radio_button :lesson_level, '簡単' %>
          <%= f.label :lesson_level, '簡単' %>
          <%= f.radio_button :lesson_level, '普通' %>
          <%= f.label :lesson_level, '普通' %>
          <%= f.radio_button :lesson_level, '難しい' %>
          <%= f.label :lesson_level, '難しい' %>
        </div>
        
        <div class="form-group">
          <%= f.label :text_necessity, '教科書の有無' %>
          <%= f.radio_button :text_necessity, '有' %>
          <%= f.label :text_necessity, '有' %>
          <%= f.radio_button :text_necessity, '無' %>
          <%= f.label :text_necessity, '無' %>
        </div>
          
        <div class="form-group">
          <%= f.label :attendance, '出席の有無' %>
          <%= f.radio_button :attendance, '有' %>
          <%= f.label :attendance, '有' %>
          <%= f.radio_button :attendance, '無' %>
          <%= f.label :attendance, '無' %>
        </div>
        
        <div class="form-group">  
          <%= f.label :additional_explanation, '補足' %>
          <%= f.text_area :additional_explanation, class: 'form-control', rows: 5 %>
        </div>
        
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそ BKCクラスへ！</h1>
      <p>BKCクラスとは、立命館大学琵琶湖草津キャンパスに通っている学生が使用でき、授業の評価や出席の有無などを投稿できるSNSです。
      登録ユーザに対して直接メッセージを送ることもできるので、使わなくなった教科書を譲ってくれないかなどを聞く場合に使えます。</p>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>  