<%= form_for(post) do |f| %>
        <div class="form-group">
          <%= f.label :lesson_id, '授業名' %>
          <%= f.collection_select :lesson_id, Lesson.all, :id, :name, :prompt => "選択してください", class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :teacher_id, '先生の名前' %>
          <%= f.collection_select :teacher_id, Teacher.all, :id, :name, :prompt => "選択してください", class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :lesson_evaluation, '授業評価' %>
          <%= f.radio_button :lesson_evaluation, '良い' %>
          <%= f.label :lesson_evaluation, '良い' %>
          <%= f.radio_button :lesson_evaluation, '普通' %>
          <%= f.label :lesson_evaluation, '普通' %>
          <%= f.radio_button :lesson_evaluation, '悪い' %>
          <%= f.label :lesson_evaluation, '悪い' %>
        </div>
        
        <div class="form-group">
          <%= f.label :lesson_level, '授業難易度' %>
          <%= f.radio_button :lesson_level, '簡単' %>
          <%= f.label :lesson_level, '簡単' %>
          <%= f.radio_button :lesson_level, '普通' %>
          <%= f.label :lesson_level, '普通' %>
          <%= f.radio_button :lesson_level, '難しい' %>
          <%= f.label :lesson_level, '難しい' %>
        </div>
        
        <div class="form-group">
          <%= f.label :text_necessity, '教科書の有無' %>
          <%= f.radio_button :text_necessity, '有' %>
          <%= f.label :text_necessity, '有' %>
          <%= f.radio_button :text_necessity, '無' %>
          <%= f.label :text_necessity, '無' %>
        </div>
          
        <div class="form-group">
          <%= f.label :attendance, '出席の有無' %>
          <%= f.radio_button :attendance, '有' %>
          <%= f.label :attendance, '有' %>
          <%= f.radio_button :attendance, '無' %>
          <%= f.label :attendance, '無' %>
        </div>
        
        <div class="form-group">  
          <%= f.label :additional_explanation, '補足' %>
          <%= f.text_area :additional_explanation, class: 'form-control', rows: 5 %>
        </div>
        
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>