<h2>投稿詳細ページ</h2>
<ul class="media-list">
  <li class="media">
      <div class="media-left">
        <img class="media-object img-circle" src="<%= gravatar_url(@post.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to @post.user.nickname, user_path(@post.user) %> <span class="text-muted">posted at <%= @post.created_at %></span>
        </div>
        <div>
          <p>授業名：<%= @post.lesson.name %></p>
          <p>先生の名前：<%= @post.teacher.name %></p>
          <p>授業評価：<%= @post.lesson_evaluation %></p>
          <p>授業難易度：<%= @post.lesson_level %></p>
          <p>教科書の有無：<%= @post.text_necessity %></p>
          <p>出席の有無：<%= @post.attendance %></p>
          <p>補足：<%= @post.additional_explanation %></p>
        </div>
      </div>
  </li>
</ul>
<h2>コメント一覧</h2>
<% @post.comments.each do |comment| %>
  <div>
    <div class="media-left">
        <img class="media-object img-circle" src="<%= gravatar_url(comment.user, { size: 50 }) %>" alt="">
    </div>
    <div class="media-body">
        <div>
          <%= link_to comment.user.nickname, user_path(comment.user) %> <span class="text-muted">posted at <%= comment.created_at %></span>
        </div>
        <div>
          <%= comment.content %><br>
          <% if current_user == comment.user %>
            <%= link_to "削除", post_comment_path(@post, comment), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
    </div>
    <hr>
  </div>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<%= link_to "ホームへ戻る", user_path(@post.user) %>